@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  margin: 0;
}

.banner_main {
  padding: 310px 0px 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 914px;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

.avaliae {
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.servico {
  font-family: 'Poppins', sans-serif;
}

#errologin{
  display: none;
  color: red;
}

.descAvaliae {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

.cadastre-se {
  padding-top: 3%;
  padding-bottom: 3%;
}

label,
input,
button,
a {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgb(16, 160, 250) 0%, rgb(16, 160, 250) 100%);
  color: black;
}

.logo {
  width: 500px;
  fill: black;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

.endereco {
  display: flex;
  width: 100%;
}

/*.endereco1,
.endereco2 {
  display: none;
  padding: 2.5%;
  width: 100%;
}*/

.dados {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
}

.dados1,
.dados2 {
  padding: 2.5%;
  width: max-content;
}

#cepe {
  display: flex;
  width: 200px;
}

/*.container1,
.container2,
.senhas {
  display: none;
}*/

.cadastro {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: white;
}

.row {
  display: flex;
  justify-content: center;
}

.col-md-offset-2 {
  min-width: 100%;
}

.card-footer {
  display: flex;
  flex-flow: column;
  align-content: center;
}

.usuario-conteudo {
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  margin-top: 5%;
}

.possuiConta {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(247, 247, 247);
}

/** footer **/

.footer {
  background: #ffffff;
  padding-top: 90px;
  margin-top: 90px;
  text-align: center;
}

.footer h3 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  line-height: 40px;
  text-align: left;
  padding-bottom: 20px;
}

.footer p {
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 17px;
  line-height: 28px;
  text-align: left;
  padding-right: 60px;
}

ul.location_icon {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

ul.location_icon li {
  font-size: 17px;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 9px 0px;
  display: flex;
  align-items: center;
  line-height: 26px;
}

ul.location_icon li a {
  font-size: 30px;
  color: rgb(0, 0, 0);
  line-height: 30px;
  padding-right: 20px;
}

.news_form {
  text-align: left;
  margin-top: 15px;
}

.news_form .letter_form {
  font-family: 'Poppins', sans-serif;
  height: 45px;
  width: 46%;
  padding: 0 13px;
  font-size: 17px;
  border: solid;
}

ul.social_icon {
  padding-top: 30px;
  float: left;
  text-align: center;
}

ul.social_icon li {
  display: inline-block;
}

.copyright {
  margin-top: 80px;
  padding-bottom: 20px;
  background: #fbfdfd;
}

.copyright p {
  color: #292929;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-top: 25px;
  font-weight: normal;
  padding-right: 0 !important;
}

.copyright a {
  color: #292929;
}

.copyright a:hover {
  color: rgb(16, 160, 250);
}

.k {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.k:hover {
  color: yellow;
  text-decoration: none;
}