@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.create-form{
    background-color: rgb(16, 160, 250);
    font-family: 'Poppins', sans-serif;
}

#btnavaliar:hover{
    background: rgb(252, 193, 14);

}
#btnavaliar{
    background-color: white;
}

#b, #c, #d, #e, #f, #g{
    display: none;
    font-family: 'Poppins', sans-serif;
}

.title2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}